In [ ]:
import nltk
from nltk.corpus import stopwords
import pandas as pd

In [1]:
# import ir_datasets
# dataset = ir_datasets.load("car/v1.5")
# for doc in dataset.docs_iter():
#     doc # namedtuple<doc_id, text>

[INFO] If you have a local copy of http://trec-car.cs.unh.edu/datareleases/v1.5/paragraphcorpus-v1.5.tar.xz, you can symlink it here to avoid downloading it again: C:\Users\midoh\.ir_datasets\downloads\4d006dd67cbc11541ed7f87b875cb990
[INFO] [starting] http://trec-car.cs.unh.edu/datareleases/v1.5/paragraphcorpus-v1.5.tar.xz
http://trec-car.cs.unh.edu/datareleases/v1.5/paragraphcorpus-v1.5.tar.xz: 0.0%| 197k/5.11G [00:02<19:01:18, 74.7kB/s]

In [3]:
# import ir_datasets
# dataset = ir_datasets.load("car/v1.5/test200")
# for query in dataset.queries_iter():
#     query # namedtuple<query_id, text, title, headings>
# query

CarQuery(query_id='Structural%20information%20theory/Visual%20regularity', text='Structural information theory Visual regularity', title='Structural information theory', headings=('Visual regularity',))

In [7]:
import pandas as pd

collection = []

categories = ['business', 'entertainment', 'food',
              'graphics', 'historical', 'space', 'sport', 'technologie']

for category in categories:
    for i in range(1, 101):
        filename = f'./archive_2/{category}/{category}_{i}.txt'
        with open(filename, 'r') as f:
            lines = f.readlines()
            for line in lines:
                line = line.strip()
                if line:  # Check if the line is not empty
                    collection.append({'category': category, 'text': line})

df = pd.DataFrame(collection)
df.to_csv('text.csv', index=False)

In [8]:
df = pd.read_csv('./text.csv')
df

          category                                               text
0         business                     Lufthansa flies back to profit
1         business  German airline Lufthansa has returned to profi...
2         business  In a preliminary report, the airline announced...
3         business                   Japanese growth grinds to a halt
4         business  Growth in Japan evaporated in the three months...
...            ...                                                ...
12744  technologie  Consumers swapping old phones for slinkier, di...
12745  technologie  In fact, the numbers of people not taking and ...
12746  technologie  "Also," he said, "they have to simplify the in...
12747  technologie  There are other deeper technical reasons why m...
12748  technologie  No-one wants to take the risk of swamping thes...

[12749 rows x 2 columns]